* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.box {
    width: 1500px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    background: linear-gradient(#7dd6ff, rgb(255, 255, 255));
    overflow: hidden;
}

.nuvem {
    position: absolute;
    top: 5%;
    width: 550px;
    animation: nuvem-pass 10s infinite linear;
}

.nuvem-invertida {
    transform: scaleX(-1);
}

.parede {
    position: absolute;
    bottom: 80px;
    width: 150px;
    right: 50%;
}


.tiles {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    mask-repeat: repeat;
}


.player {
    width: 250px;
    height: 100px;
    position: absolute;
    animation: player-animation 5s infinite linear;
    bottom: 60px;
}

@keyframes player-animation {

    from {
        left: -3%;
    }

    to {
        left: 100%;
    }

}

@keyframes nuvem-pass {
    from{
        right: -45%;
    }

    to{
        right: 110%;
    }
}


@keyframes game-over {
    0%{
        bottom: 80px;
    }
    
    40%{
        bottom: 150px;
        width: 80px;
        height: 80px;
    }

    60%{
        bottom: 150px;
    }

    100%{
        bottom: -80px;
    }

}
